In [6]:
import pandas as pd

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
host = 'localhost'
user = 'root'
password = ''
database = 'quanlysinhvien'

cnnx_str = f'mysql+pymysql://{user}:{password}@{host}/{database}?charset=utf8mb4'

%sql $cnnx_str

data = %sql select * from sinhvien where KhoaID = 'VL'

 * mysql+pymysql://root:***@localhost/quanlysinhvien?charset=utf8mb4
2 rows affected.

In [9]:
df = pd.DataFrame(data)
df.head()

,SinhVienID,HoSinhVien,TenSinhVien,NgaySinh,GioiTinh,DiaChi,HocBong,KhoaID
0,TE1,Trần Thị,Thắm,1900-05-21,b'\x00',Hai Phong,800000,VL
1,TE2,Trần Thị,Thúy,1900-05-21,b'\x00',Kien Giang,800000,VL